
/*header*/

.header, a{
    text-decoration: none;
    font-family: 'Poppins';
    color: #94A3B8;
}

.header{
    width: 90rem;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background:  #ffffff;
    border-color: #E2E8F0;
    border-bottom: solid 0.0625rem  #E2E8F0;
    z-index: 101;

}

.logo_header{
    padding-left: 4rem;
    padding-right: 15.5625rem;
}

.navigation_header{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 23.625rem;
    

}
.inicio{
    color: #6729FF;
}

.cadastro{
    padding: 0.75rem 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    
}
.botao{
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 0.625rem;
    background-color: #6729FF;
}

/*header*/

/*hero*/

.hero  {
    height: 43.625rem;
    width: 90rem;
    display: flex;
    border-bottom: solid 0.0625rem  #E2E8F0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.conteudo_texto{
    width:  32.875rem;
    height: 44rem;
    padding-top: 5.5rem;
    padding-left: 7rem;
    justify-content:center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.slogan{
    width: 31.4375rem;
    height: 13.875rem;
    font-family: 'Outfit';
    color: #475569;
    font-weight: 600;
    font-size: 4rem;
}
.subtexto{
    width: 30.5rem;
    height: 3rem;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    color: #64748b;
    padding-bottom: 2.5rem;
}

.abrir_conta{

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.125rem;
   
}
.saiba_mais{
    padding-left: 1.25rem;

}
.abra_conta{
    width: 16.25rem;
    color: #6729FF;
    padding: 0.75rem 2rem;
    border-radius: 0.625rem;
    background-color: #eee5ff;
    font-size: 1rem;
    
}

.hr{
    padding: 2.5rem 6.5rem;
    width: 30.5rem;
    color: #E2E8F0 ;
    border-bottom: 1px solid
}
.avatares{
    font-family: 'Poppins';
    font-size: 0.875rem;
    font-weight: 500;
    color: #94A3B8;
    padding-top: 2.5rem;
    padding-bottom: 5.1875rem;
}

.imagem_conta{
    display: flex;
    padding-top: 5.5rem;
    padding-left: 10.75rem;
    padding-right: 10.875rem;
    width: 46rem;
    background-color: #6729FF;
}
/*header*/

/*cartoes*/
.cartoes{
    width: 76.0625rem;
    height: 32rem;
    padding-left: 6.9375rem;
    padding-top: 6.125rem;
    padding-right: 7rem;
    padding-bottom: 6.5rem;
    display: flex;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Poppins';
    color:#6729FF;
}

.texto_cartoes{
    padding-right: 4.4375rem;
    width: 26.125rem;
   

}


.cartoes_texto{
    width: 24.0625rem;
    height: 6rem;
    font-weight: 500;
    font-size: 2.5rem;
    font-family: 'Outfit';
    color: #475569;
}
.cartoes_subtexto{
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Poppins';
    color: #64748b;
}

.cards{
    height:  32rem;
    width: 45.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.cards_titulo{
    font-family: 'Outfit';
    font-size: 1.25rem;
    font-weight: 600;
    color: #6729FF;
}
.cards_texto{
    font-family: 'Poppins';
    font-size: .875rem;
    font-weight: 400;
    color: #64748b;
    font-size: 14px;
}



.recompensas{
    display: flex;
    flex-wrap: wrap;
    width: 23.875rem;
    height: 10rem;
    flex-direction: column;
    margin-right: 8px;
    border: #E2E8F0 1px solid;
    border-radius: 0.625rem;
    
}

.recompensas_titulo{
    width: 189px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 24px;

}

.recompensas_texto{
    width: 340px;
    height: 42px;
    display: flex;
    padding-top: 12px;
    padding-left: 24px;
}

.descontos{
    display: flex;
    flex-wrap: wrap;
    width: 20.625rem;
    height: 10rem;
    flex-direction: column;
    border: #E2E8F0 1px solid;
    border-radius: 0.625rem;
}

.descontos_titulo{
    width: 189px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 24px;

}

.descontos_texto{
    width: 286px;
    height: 63px;
    display: flex;
    padding-top: 12px;
    padding-left: 24px;
}

.cards_cashback{
    display: flex;
    flex-wrap: wrap;
    width: 19.8125rem;
    height: 10rem;
    flex-direction: column;
    margin-right: 8px;
    border: #E2E8F0 1px solid;
    border-radius: 0.625rem;

}
.cards_cashback_titulo{
    width: 154px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 24px;

}

.cards_cashback_texto{
    width: 278px;
    height: 42px;
    display: flex;
    padding-top: 12px;
    padding-left: 24px;

}

.cartao_internacional{
    display: flex;
    flex-wrap: wrap;
    width: 24.6875rem;
    height: 10rem;
    flex-direction: column;
    border: #E2E8F0 1px solid;
    border-radius: 0.625rem;
}

.cartao_internacional_titulo{
    width: 253px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 24px;

}

.cartao_internacional_texto{
    width: 340px;
    height: 42px;
    display: flex;
    padding-top: 12px;
    padding-left: 24px;

}

.carteiras_digitais{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 45.5rem;
    height: 10rem;
    flex-direction: column;
    background-color: #f3f2ff;
    border-radius: 0.625rem;
}

.carteiras_digitais_titulo{
    width: 224px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 24px;

}

.carteiras_digitais_texto{
    width: 344px;
    height: 63px;
    display: flex;
    padding-top: 12px;
    padding-left: 24px;
}


.retangulo_roxo{
    position: relative;
    display: flex;
    margin-top: 30px;
    margin-left: -30px;
}

.retangulo_branco{
    position: relative;
    display: flex;
    margin-top: 38px;
    margin-left: 36px;
    
}

/*cartoes*/


/*app*/
.app{
    display: flex;
    height: 637px;
    width: 1184px;
    padding-left: 111px;
    padding-right: 145px;
    padding-bottom: 120px;
}

.app_texto{
    display: flex;
    flex-direction: column;
    width: 592px;
    margin-left: 104px;

}
.app_conteudo{
    font-weight: 700;
    font-family: 'Poppins';
    font-size: 16px;
    color: #6729FF;
    margin-bottom: 0;
    line-height: 16px; 
}
.app_conteudo_subtexto{
    font-weight: 400;
    font-family: 'Poppins';
    font-size: 16px;
    color: #64748b;
    width: 488px;
    margin-bottom: 4rem;
    line-height: 24px;

}

.app_conteudo_titulo{
    font-weight: 500;
    font-family: 'Outfit';
    font-size: 40px;
    color: #475569;
    width: 416px;
    height: 96px;
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: 48px;
}

.app_imagem{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 637px;
    width: 592px;
    background-image: linear-gradient(to top, #EEE5FF 65%, white 35%);
    border-radius: 0.625rem;
    
    
}


.app_cashback{
    width: 488px;
    height: 77px;
    display: flex;
    flex-direction: row;
    
}

.cashback_img{
    position: absolute;
    align-content: center;
    width: 48px;
    background-color:#6729FF;
    border-radius: 0.625rem;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cashback_texto{
    display: flex; 
    flex-wrap: wrap;  
    width: 424px;
    height: 77px;
    font-weight: 400;
    font-family: 'Poppins';
    font-size: 16px;
    color: #64748b;
    padding-left: 64px;
}



.app_ofertas{
    width: 488px;
    height: 77px;
    display: flex;
    flex-direction: row;
    margin-top: 32px;

}

.ofertas_img{
    position: absolute;
    align-content: center;
    width: 48px;
    background-color:#6729FF;
    border-radius: 0.625rem;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ofertas_texto{
    display: flex; 
    flex-wrap: wrap;  
    width: 424px;
    height: 53px;
    font-weight: 400;
    font-family: 'Poppins';
    font-size: 16px;
    color: #64748b;
    padding-left: 64px;
}

.app_segurancao{
    width: 488px;
    height: 77px;
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    
}

.segurancao_img{
    position: absolute;
    align-content: center;
    width: 48px;
    background-color:#6729FF;
    border-radius: 0.625rem;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segurancao_texto{
    display: flex; 
    flex-wrap: wrap;  
    width: 424px;
    height: 53px;
    font-weight: 400;
    font-family: 'Poppins';
    font-size: 16px;
    color: #64748b;
    padding-left: 64px;
}


/*app*/



/*download*/

.download{
    display: flex;
    width: 1440px;
    height: 534px;
    background-color: #6729FF;

}

.download_texto{
    width: 539px;
    height: 277.31px;
    margin-left: 112px;
    margin-top: 140px;
    margin-bottom: 118px;
}

.download_texto{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
}

.download_titulo{
    width: 536px;
    height: 95px;
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 40px;
    color: #f8fafc;
}

.download_subtexto{
    display: flex;
    margin-top: 16px;
    width: 485px;
    height: 47px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #E2E8F0;
    margin-right: 26px;

}


.download_botao{
    align-items: center;
    width: 500px;
    height: 47px;
    font-weight: 600;
    display: flex;
    align-items: start;
    padding-top: 48px;
    flex-wrap: wrap;
    
}
.playstore{
    display: flex;
    border-radius: 0.625rem;
    background-color: #f3f2ff;
    font-size: 16px;
    color: #6729FF;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: 16px;
}

.applestore{
    display: flex;
    border-radius: 0.625rem;
    background-color: #f3f2ff;
    font-size: 16px;
    color: #6729FF;
    padding-right: 16px;
    padding-left: 16px;

}


.download_cartoes{
    display: flex;
    width: 574px;
    height: 455.29px;
    padding-right: 112px;
    padding-top: 79px;
}


.download_preto{
    position: relative;
    display: flex;
    margin-top: 78px;
    margin-left: -267px;

    
}
.download_roxo{
    position: relative;
    display: flex;
    margin-top: 138px;
    margin-right: -306px;
    margin-left: 287px;

}



/*download*/


/*cta*/
.cta{
    display: flex;
    width: 1440px;
}

.venha_ser{
    width: 641px;
    height: auto;
    position: absolute;
    color: #ffffff;
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 96px;
    padding-left: 400px;
}

.cta_botao > *{
    position: absolute;
    width: 182px;
    border-radius: 0.625rem;
    background-color: #6729FF;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    padding: 12px;
    margin-left: 229px;
    margin-bottom: 96px;
}


/*cta*/


/*footer*/
footer{
    width: 90rem;
}
.titulo{
    font-size: 1rem;
    font-weight: 500;
    color: #64748b;
}

.links {
    padding-top: 2.5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    width: 76rem;
    height: 9.75rem;
    display: flex;
    font-weight: 25rem;
    font-size: 1rem;
    font-family: 'Poppins'; 
    justify-content: space-between;
}

.paravc{
    display: flex;
    flex-direction: column;
    gap: 1.25rem 

}
.nullbank{
    display: flex;
    flex-direction: column;
    gap: 1.25rem

} 
.Serviços{
    display: flex;
    flex-direction: column;
    gap: 1.25rem

} 
.Suporte{
    display: flex;
    flex-direction: column;
    gap: 1.25rem

}
.Newsletter{
    width: 17.5rem;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;

}

.direitos{
    padding-right: 4rem;

    padding-left: 4rem;
    padding-top: 6.8125rem; 
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
    font-size: 0.75rem;
    font-weight: 400;
}
.logo_footer{
    padding: 0.1875rem 19.5rem;
}